certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
docker==4.2.2
ffmpeg==1.4
ffmpeg-python==0.2.0
future==0.18.2
idna==2.10
numpy==1.19.1
opencv-contrib-python==4.3.0.36
pycparser==2.20
pydub==0.24.1
pyTelegramBotAPI==3.7.2
requests==2.24.0
six==1.15.0
SoundFile==0.10.3.post1
urllib3==1.26.5
websocket-client==0.57.0
